.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}

.mb-2{
    margin-bottom: 0.5rem !important;
}

.ml-10{
    margin-left: 10px !important;
}

.ml-15{
    margin-left: 15px !important;
}

.mr-5{
    margin-right: 5px !important;
}

.text_right_align{
    text-align: right;
}

.border_right_0{
    border-right: 0 !important;
}

.border_left_0{
    border-left: 0 !important;
}

.border_bottom_0{
    border-bottom: 0 !important;
}

.border_top_0{
    border-top: 0 !important;
}

.border_left_1{
    border-left:solid black 1px !important ;
}

.border_bottom_1{
    border-bottom: solid black 1px !important;
}

.border_top_1{
    border-top: solid black 1px !important;
}

.padding_L_0{
    padding-left: 0px !important;
}

.padding_R_0{
    padding-right: 0px !important;
}

.padding_lr_0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}



p{
    text-align: justify;
}

.para_heading{
    font-weight: bold;
    font-size: 14px;
}

ul li{
    text-align: justify;
    list-style-type: disc;
}

ol{
    padding-left:11px;
}

ol li{
    margin-bottom: 5px;
    text-align: justify;
}

ol li::marker {
    font-weight: bold;
}

.page_header_row .page_header{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5ee215;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_header{
    background-color: #08a4e4;
    color: #ffffff;
    text-align: center !important;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
}


.section_sub_header{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
    border-top: solid black 1px;
    text-decoration: underline;
}


.section_sub_text{
    border-top: solid black 1px;
    border-right: solid black 1px;
    padding: 5px 10px;
}

.section_sub_text_bold{
    border-top: solid black 1px;
    border-right: solid black 1px;
    font-weight: bold;
    text-decoration: underline;
}

.applicant_table{
    /* border: solid black 1px ; */
    border-bottom: solid black 1px;
    padding: 10px;
}

.applicant_table:last-child{
    border-bottom: none;
}

.table_header,table th{
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

.text_vertical_align{
    vertical-align: middle;
}

.page_content_wrapper{
    font-size: 12px;
    color: black;
    border: solid black 1px;
}

.page_data_row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.page_content{
    padding: 10px;
    text-align: justify;
}

.page_content:after {
    clear: both;
}

.page_content:before{
    display: table;
    content: " ";
}

.mid_checkbox_content{
    padding-left: 30px;
    text-align: justify;
}

.mid_heading{
    text-align: center;
    margin-bottom: -10px;
    text-decoration: underline;
    font-weight: bold;
}

.input_group{

}

.input_group label,
.input_group input[type="text"],
.input_group input[type="date"],
.input_group select{
    width: 100%;
}

.input_group label{
    margin-bottom: 0px;
}

.input_group input[type="text"],
.input_group input[type="date"],
.input_group select{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    line-height: 24px;
    font-size: 12px;
    background-color: #e0e4fc;
}

.input_group select:focus{
    background-color:white;
}

.input_group select option{
    background-color:white;
}

.input_group input[type="date"],
.input_group input[type="text"]:focus {
    background-color:white;
}

.input_group .radio_group_wrp{
    display: flex;
    /* justify-content: space-around; */
}

.input_group .radio_group_wrp .group_item{
    margin-right: 15px;
}

.input_group .radio_group_wrp input[type="radio"] {
    vertical-align: sub;
}

.input_group .if_yes, .input_group .if_no{
    display: none;
}

.input_group_inline > label{
    margin-right: 10px;
}

.checkBox_wrp{
    padding-top: 2px;
    padding-bottom: 2px;
}

.checkBox_wrp input[type = "checkbox"]{
    margin-right:  8px;
    vertical-align: sub;
}

.checkBox_wrp label{
    margin-bottom: 0px;
}

.select_option{
    height: 28px;
    width: 100%;
}

#textbox {
    display: block;
    float: left;
    width: 180px;
    height: 20px;
    background-color: #e0e4fc;
    border: solid black 1px;
    margin-left: 5px;
}


#textbox:focus{
    background-color:white;
}


.test_group{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    line-height: 24px;
    font-size: 12px;
}

.button_right{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

button{
    background-color: #9c9c9c;
    border: solid 1px black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 5px 15px rgba(72, 71, 73, 0.4);
}

.text1{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    font-size: 12px;
    background-color: #e0e4fc;
    width: 185px;
}

.text2{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    font-size: 12px;
    background-color: #e0e4fc;
    width: 250px;
}

.text3{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    font-size: 12px;
    background-color: #e0e4fc;
    width: 833px;
}

.text4{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    font-size: 12px;
    background-color: #e0e4fc;
    width: 465px;
}

.text5{
    margin-top: 2px;
    border: solid 1px #999999;
    border-radius: 0;
    font-size: 12px;
    background-color: #e0e4fc;
    width: 450px;
}


.text5:focus,
.text4:focus,
.text3:focus,
.text2:focus,
.text1:focus{
    background-color: white !important;
}

